geo_backend/venv/
geo_backend/__pycache__/
geo_backend/**/__pycache__/
geo_backend/*.pyc
geo_backend/.env
geo_backend/media/
geo_frontend/node_modules/
geo_frontend/dist/
geo_frontend/.env
geo_frontend/.env.local
.vscode/
.DS_Store
Thumbs.db